        .body{
            z-index: 0;
        }
        .jumbotron{
            background: url("../img/bg44b.png") no-repeat center center;
            background-size: cover;
            height: 250px;
            width: 100%;
            overflow: hidden;
            background-attachment: fixed;
        }
        .page-header{
            border-bottom-color: #b9b9b9;
        }
        .quote{
        	z-index: 2;
        	font-size: 24px;
        	color: white;
        }
        .card-img-top{
        	width: 100%;
        }
        .panel, .securite-hover{
            text-align: center;
        }
        .panel{
            text-align: center;
            display: none;
            background-color: none!important;
            box-shadow: none!important;
            border: none!important;
        }
        .panel5, .panel4, .panel3, .panel2, .panel1, .panel0{
            text-align: center;
            display: none;
            margin-bottom: 20px;
        }
        .pad{
            padding: 20px 50px;
        }
        .slide5, .slide4, .slide3, .slide2, .slide1, .slide0{
            text-align: center;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
        }
        .slide5:hover, .slide4:hover, .slide3:hover, .slide2:hover, .slide1:hover, .slide0:hover{
            opacity: 1!important;
        }
        .slide5-content, .slide4-content, .slide3-content, .slide2-content, .slide1-content, .slide0-content{
            position: absolute;
            width: 100%;
            height: 20px;
            font-size: 20px;
            text-align: center;
            top: 50%;
            margin-top: -12px;
            color: white;
        }
        .slide5-content i, .slide4-content i, .slide3-content i, .slide2-content i, .slide1-content i, .slide0-content{
            margin-top: -12px;
        }
        .texteCentre{
            position: absolute;
            width: 100%;
            height: 20px;
            font-size: 20px;
            text-align: center;
            top: 50%;
            margin-top: -12px;
            color: white;
            opacity: 1;
            z-index: 1;
        }
        .texteCentre h2{
            margin: 0;
        }
        .depasserFond{
            margin-top: -90px;
        }
        .navTop {
          margin-top: -260px;
          z-index: 2;
          color: white;
        }
        .navTop h2{
            font-size: 18px;
            color: grey;
        }
        .navTop a{
            color: grey;
        }
        .navtop a:hover{
            color: white;
        }
        .active h2{
            color: white;
        }
        .active a{
            color: white;
        }
        .w17{
            width: 18%;
        }
        .volBack{
          background-image: url("../img/voltraditionnelback.png");
          background-repeat: no-repeat;
          background-position: center center;
          z-index: 2;
          height: 1000px;
          background-size: 100% 100%;
        }
        .validerVol{
          width: 100px;
          margin: 20px 50px;
        }
        .bouton{
          width: 100%;
        }
        .formulaire1{
            padding-top: 42%;
        }
        .formulaire2{
            padding-top: 10%;
        }
        .retourPlie{
          background-image: url("../img/retourPlie.png");
          background-repeat: no-repeat;
            background-position: center left;
            z-index: 2;
            height: 141px;
            background-size: 95% 100%;
        }